<div class="safety-life">
	<img src="../../images/ft-1.png"/>
</div>
<div class="service">
	<div class="ftlogo">
		<a href=""><img src="../../images/foot-logo.png"/></a>
		<p><span>Hotline</span> 400-820-7708</p>
		<p>08:00~20:00</p>
	</div>
	<div class="about">
		<dl>
			<dt>新手入门</dt>
			<dd><a href="">关于我们</a></dd>
			<dd><a href="">常见问题</a></dd>
			<dd><a href="">联系我们</a></dd>
			<dd><a href="">加入我们</a></dd>
		</dl>	
		<dl>
			<dt>企业服务</dt>
			<dd><a href="">礼品卡</a></dd>
			<dd><a href="">会员制度</a></dd>
			<dd><a href="">积分制度</a></dd>
		</dl>
		<dl>
			<dt>售后服务</dt>
			<dd><a href="">服务承诺</a></dd>
			<dd><a href="">退出条款</a></dd>
			<dd><a href="">配送范围及时间</a></dd>
			<dd><a href="">电子发票</a></dd>
		</dl>
		<dl>
			<dt>支付方式</dt>
			<dd><a href="">货到付款</a></dd>
			<dd><a href="">在线支付</a></dd>
			<dd><a href="">优惠券使用</a></dd>
		</dl>
	</div>
	<div class="contact">
		<dl>
			<dt><img src="../../images/weixin.png"/></dt>
			<dd>关注微信</dd>
		</dl>
		<dl>
			<dt><img src="../../images/down-app.png"/></dt>
			<dd>下载app</dd>
		</dl>
	</div>
</div>

<div class="bq">
	<img src="../../../images/guan_shgs.gif"/>
	<p class="cpr">©2009-2018 FIELDS CHINA All Rights Reserved 沪ICP备10215492号-3</p>
</div>