<!--
	账户信息，包括注册登录，订单收藏，以及和产品交互
-->
<div class="account">
		<p class="unlog">欢迎来访，<a href="/html/login.html">登录</a>|<a href="/html/register.html">注册</a></p>
		<p class="log">欢迎您，<a href="" class="user"></a><a href="" class="clr">（退出）</a</p>
		<p class="peisong">配送至：<a href="">上海</a></p>
		<ul>
			<li><a href="">我的收藏</a></li>
			<li><a href="">我的订单</a></li>
			<li><a href="">我的账户</a><span>▼</span></li>
			<li><a href="">手机甫田</a><span>▼</span></li>
			<li><a href="">关注甫田</a><span>▼</span></li>
			<li><a href=""></a></li>
		</ul>
	</div>
	<!--
    	不算导航栏的导航栏，包含页面logo，搜索框和购物车
    -->
	<div class="nav">
		<div class="nav-top">
			<div class="nav-top-left">
				<a href="/index.html"><img src="/images/head-logo.jpg"/></a>
			</div>
			<div class="nav-top-center">
				<div class="search">
					<input type="text" id="" value="" />
					<p>热门搜索：<a href="">礼盒</a><a href="">石榴</a>
						<a href="">柚</a><a href="">大米</a><a href="">奶酪</a>
					</p>	
				</div>				
			</div>
			<div class="nav-top-right">
				<a href="/html/cart.html" class="itemcart"><img src="../../images/icon-cart.png"/>购物车<span>0</span></a>
			</div>
		</div>
		<h3 class="login">FIELDS 登录</h3>
		<a href="/html/register.html" class="login-a">没有账号？注册</a>
		<h3 class="register">FIELDS新会员注册</h3>
		<a href="/html/login.html" class="register-a">已有账号？直接登录</a>
		<!--
    	商品活动
    -->
	<div class="activity">
		<ul class="ac">
			<li><a href="" id="all">全部分类<span>∨</span></a>
				<ul class="products">
					
						<li><a href="/html/list.html" class="food">大厨美食<span>&gt</span></a></li>
						<li><a href="/html/list.html" class="food">美味秋季<span>&gt</span></a></li>
						<li><a href="/html/list.html" class="food">田园时蔬<span>&gt</span></a></li>
						<li><a href="/html/list.html" class="food">精选肉类<span>&gt</span></a></li>
						<li><a href="/html/list.html" class="food">精选水果<span>&gt</span></a></li>
						<li><a href="/html/list.html" class="food">新鲜水果<span>&gt</span></a></li>
						<li><a href="/html/list.html" class="food">新鲜海产<span>&gt</span></a></li>
						<li><a href="/html/list.html" class="food">蛋奶乳品<span>&gt</span></a></li>
						<li><a href="/html/list.html" class="food">面包烘焙<span>&gt</span></a></li>
						<li><a href="/html/list.html" class="food">快手熟食<span>&gt</span></a></li>
						<li><a href="/html/list.html" class="food">粮油杂货<span>&gt</span></a></li>
						<li><a href="/html/list.html" class="food">饮料酒水<span>&gt</span></a></li>
						<li><a href="/html/list.html" class="food">轻食酒水<span>&gt</span></a></li>
						<li><a href="/html/list.html" class="food">个人护理&母婴<span>&gt</span></a></li>
						<li><a href="/html/list.html" class="food">家庭用品&宠物<span>&gt</span></a>
					</li>
				</ul>
			</li>
			<li><a href="">买一得二<img src="../../images/hot.png"/></a></li>
			<li><a href="">24小时鲜<img src="../../images/new.png"/></a></li>
			<li><a href="">本周特惠</a></li>
			<li><a href="">热卖新品</a></li>
			<li><a href="">临期特惠</a></li>
			<li><a href="">VIP商城</a></li>
			<li><a href="">感恩节盛宴<img src="../../images/hot.png"/></a></li>
			<li><a href="">礼品和预售卡</a></li>
		</ul>
	</div>
	</div>
	